.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #212426;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    max-height: 80vh;
    max-width: 75vw;
    overflow-y: auto;
    font-size: 0.9em;
}

.popup-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.popup-footer label {
    text-transform: none;
    letter-spacing: normal;
}

.popup-image {
    width: 50%;
    border-radius: 5px;
    margin-top: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid white;
}

.popup-features {
    text-align: left;
    margin: 10px auto;
    padding-left: 25px;
    max-width: 80%;
    list-style-type: disc;
}

.popup-features li {
    margin-bottom: 4px;
    line-height: 1.2;
}

.popup-content p {
    margin: 5px 0;
}
